@use 'grid' as *;
@use 'flow' as *;
@use '../abstracts/' as *;


.left-column {
    grid-area: leftcol;
}
.right-column {
    grid-area: rightcol;  
}
.narrow-column {
    grid-area: narrowcol;
}
.wide-column {
    grid-area: widecol;
}


.even-columns-unlimited {
    @extend .grid;
    place-items: center;

    // For ipad mini (portrait) we want slideup cards to appear 2x2,
    // hence a different medium berakpoint at 720px instead of 800px
    @include mq(medium2) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq(large2) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    &.center-column-pair {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        // For mobile, the pair of columns will be stacked
        .column-1 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
    
        .column-2 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;            
        }

        @include mq(medium) {
            grid-template-columns: repeat(2, 1fr);

            .column-1 {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
            }

            .column-2 {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
            }
        }

        @include mq(large) {
            grid-template-columns: repeat(4, 1fr);
            .column-1 {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
            }
        
            .column-2 {
                grid-row: 1 / 2;
                grid-column: 3 / 4; 
            }
        }
    }
}

.even-columns {
    @extend .grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
            "leftcol"
            "rightcol";

    @include mq(medium) {
        grid-template-areas:
            "leftcol rightcol";
    }

    &.reverse-mob {
        // mobile
        @include mqmax(medium) {
            grid-template-areas:
                "rightcol"
                "leftcol";
        }
    }
    &.reverse-tab {
      // tablet
      @include mqmax(large) {
        grid-template-areas:
          "rightcol"
          "leftcol";
      }
    }
}


.uneven-columns {
    @extend .grid;

    // narrow | wide columns
    &.narrow-wide {
        grid-template-columns: 100%;
        grid-template-areas:
            "narrowcol"
            "widecol";

        @include mq(medium) { 
            grid-template-columns: 34% 63%;
            grid-template-areas:
                "narrowcol widecol";
        }
        &.reverse-mob {
            // mobile
            @include mqmax(medium) {
                grid-template-areas:
                    "widecol"
                    "narrowcol";
            }
        }
        &.reverse-tab {
            // tablet
            @include mqmax(large) {
                grid-template-areas:
                    "widecol"
                    "narrowcol";
            }
        }
    }
    // wide | narrow columns
    &.wide-narrow {
        grid-auto-columns: 100%;
        grid-template-areas:
            "widecol"
            "narrowcol";
    
        @include mq(medium) {
            grid-template-columns: 63% 34%;
            grid-template-areas:
                "widecol narrowcol";
        }
    
        &.reverse-mob {
            // mobile
            @include mqmax(medium) {
                grid-template-areas:
                    "narrowcol"
                    "widecol";
            }
        }
        &.reverse-tab {
            // tablet
            @include mqmax(large) {
                grid-template-areas:
                    "narrowcol"
                    "widecol";
            }
        }
    }
}

.left-align-column {
    text-align: left;
}

.right-align-column {
    text-align: right;
}

.bottom-align-column {
    align-self: end;
}

.top-align-column {
    align-self: start;
}

.center-align-column {
    align-self: center;
}