@use '../abstracts/' as *;

.flow > :where(:not(:first-child)) {
	margin-top: var(--flow-spacer, var(--spacer));
}

.flow {
	padding-top: var(--flow-spacer-top);
}

// To compensate for the line-height you get with h1
.flow:has(>h1:first-child) {
	padding-top: var(--flow-spacer-h1);
}

.flow {
	padding-bottom: var(--flow-spacer-bottom);
}

// spacing only between elements without top+bottom padding
.flow-inbetween > :where(:not(:first-child)) {
	margin-top: var(--flow-spacer, var(--spacer));
}

// to compensate for line-height of text
.flow-nontitletext {
	padding-top: var(--flow-spacer-nontitletext);
}

.flow-flushtop {
	padding-top: 0;
}

.flow-flushbottom {
	padding-bottom: 0;
}