@use '../abstracts/' as *;

table.basic {
    font-family: var(--ff-serif);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);

    @include mq(large) {
        width: 60%;
    }

    &.wider {
        @include mq(large) {
            width: 100%;
        }
    }

    tr:nth-child(2n-1) {
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 0.25em;
    }

    td {
        padding: 0.2em 0.5em;

        @include mqmax(small) {
            font-size: var(--fs-350);
        }
    }

    &.centered {
        td {
            text-align: center;
        }
    }

    &.toc {
        td:not(:first-child) {
            width: 35%;
        }
    }

}

table.responsive {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-family: var(--ff-serif);
}

table.responsive td {
    padding: 0.2em 0.5em;
    text-align: center;
}

table.responsive tr {
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 0.25em;
}

/* Mobile styles - activated when screen width is 768px or less */
@media screen and (max-width: 768px) {

    table.responsive,
    table.responsive tbody,
    table.responsive tr,
    table.responsive td {
        display: block;
        background-color: transparent;
    }

    table.responsive {
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 0.1em
    }

    table.responsive tr {
        margin-bottom: 0;
    }

    table.responsive td {
        width: 100%;
        margin-bottom: 0.1em;
        // box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.05);
    }

    table.responsive td:last-child {
        margin-bottom: 0;
    }
}