<div class="cta-mobile"
             onclick="location.href='/summer-fun-for-kids';">
    <div class="cta-line-lrg">
        <span class="whitetext">Summer Fun for Kids</span>
    </div>
    <div class="cta-line-sml">28 April - 3 May 2026 • Registrations Open</div>
    <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
</div>