<div class="cta-desk"
       onclick="location.href='/virtual-steps';">
    <img src="https://res.cloudinary.com/nrityagram/image/upload/w_200/v1748004445/virtual-steps-cta_yp7fcg.png"
         alt="Virtual Steps CTA picture"
         width="200"
         loading="lazy">
    <div class="cta-textbox">
        <div class="cta-line-lrg">Virtual Steps</div>
        <div class="cta-line-sml">New Batch Starts on 5 July 2025</div>
        <div class="cta-line-sml">Registration Closed</div>
    </div>
</div>