@use '../abstracts/' as *;

// https://ryanmulligan.dev/blog/css-marquee/

.marquee {
    --gap: 70px;
    --margin: -17.5vw;
    --duration: 80s;
    // mobile only
    @include mqmax(small) {
        --gap-mob: 10px;
        --margin: -9.75vw;
        --duration: 60s;
    }
    // background-color: hotpink;
    display: flex;
    overflow: hidden;
    // user-select: none;
    gap: var(--gap);
    padding: 20px 0;
    margin-left: var(--margin);
    margin-right: var(--margin);
    width: max-content;
}

.marquee-content {
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    animation: scrolling var(--duration) linear infinite;
}

@keyframes scrolling {
    from {
            transform: translateX(0);
        }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.marquee-content:hover {
    animation-play-state: paused;
}

.marquee-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    // Note: setting a max width so that the long captions get wrapped
    width: fit-content;
    // @include mqmax(small) {
    //     width: 45vw;
    // }

    // NOTE: Making sure that all logos have the same height
    picture, img {
        height: 8vh;
        width: auto;
    }
}

.marquee-item-caption {
    font-family: var(--ff-sans);
    font-size: var(--fs-200);
    line-height: 1.3;
    color: hsl(var(--clr-neutral-850));
    text-align: center;
}