@use '../abstracts/' as *;

.owl-carousel.review-slider {
  .item {
    background-color: hsl(var(--clr-neutral-100));
    border-radius: 8px;
    img {
          width: 100%;
          height: auto;
          aspect-ratio: 1.64;
          object-fit: cover; 
      }
  }
}

.owl-carousel.review-slider {
  .owl-stage {
    display: flex;
    flex: 1;
  }

  .owl-item {
    display: flex;
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    min-height: 100%;
  }

  .item {
    border-radius: 12px;
    overflow: hidden;
  }
}
