@use '../abstracts/' as *;

sidebar {
    position: fixed;
    bottom: 5vh;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    align-items: center;
    // make it sit above the owl carousel items
    z-index: 20;

    @include mqmax(small) {
        position: static;
        flex-direction: row;
        img {
            mix-blend-mode:lighten;
        }
    }
}