@use '../abstracts/' as *;

.slideup-card {
    position: relative;
    overflow: hidden;
    padding: 1rem 0;
    width: 100%;
    border-radius: 12px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: #ffffff;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.1),
        0 10px 10px rgba(0, 0, 0, 0.1), 0 18px 18px rgba(0, 0, 0, 0.1);

    // aspect-ratio of card is fixed for all screen sizes
    aspect-ratio: 0.6;

    // only for mobile
    @include mqmax(small) {
        aspect-ratio: 0.62;
        width: 65vw;
    }
    
    &.card-pair {
        width: 25vw;

        // tablet
        @include mq(medium) {
            height: 44vw;
        }

        // desktop
        @include mq(large) {
            height: 29vw;
        }
    }


    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    }
}

.slideup-card__screen {
    width: 100%;
    height: 110%;
    background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.3) 50%,
                rgba(0, 0, 0, 1.0) 100%);
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.slideup-card__content {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0 auto;
    width: 100%;

    // transition: top 700ms ease-in-out;
    z-index: 1;
}

.slideup-card__content__title {
    position: absolute;
    top: 86%;
    left: 0;
    padding-left: 8%;
    color: hsl(var(--clr-neutral-100));
    width: 100%;

    font-family: var(--ff-serif);
    font-weight: var(--ff-bold);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.65);
    font-size: var(--fs-600);

    transition: top 700ms ease-in-out;
}

.slideup-card__content__wrapper {
    position: absolute;
    bottom: -60%;
    left: 0;
    padding-left: 8%;
    // 100% - 8%
    width: 92%;
    transition: bottom 700ms ease-in-out;
}

.slideup-card__content__copy {
    font-family: var(--ff-serif);
    line-height: 1.2;
    font-weight: var(--fw-light);
    color: hsl(var(--clr-neutral-100));
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding-bottom: 1.5em;

    font-size: var(--fs-400);
    line-height: 1.4;
}

@media (hover: hover) {
    // targets only devices that can hover

    .slideup-card:hover,
    .slideup-card:focus-within {

        .slideup-card__screen {
            opacity: 1;
        }

        .slideup-card__content__title {
            top: 15%;
        }
        .slideup-card__content__wrapper {
            bottom: 5%;
        }
    }
}

// @media (pointer: coarse) {
//     .slideup-card:after {
//         transform: translateY(0);
//     }

//     .slideup-card__content {
//         transform: translateY(calc(100% - 1.5rem));

//         >*:not(.slideup-card__content__title) {
//             opacity: 0;
//             transform: translateY(1rem);
//             transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
//         }
//     }

//     .slideup-card:hover,
//     .slideup-card:focus-within {

//         .slideup-card__content {
//             // this formula seems to be working! 
//             // bottom of card content lines up with title of next card
//             // transform: translateY(calc(1rem + 0.42vw + 2.2em * -1)); //works but title is high
//             transform: translateY(calc(1rem + 0.42vw + 1.1em * -1));

//             >*:not(.slideup-card__content__title) {
//                 opacity: 1;
//                 transform: translateY(0);
//                 transition-delay: calc(700ms / 8);
//             }
//         }
//     }

//     .slideup-card:focus,
//     .slideup-card:focus-within {

//         &:before,
//         &:after,
//         .slideup-card__content,
//         .slideup-card__content>*:not(.slideup-card__content__title) {
//             transition-duration: 0s;
//         }
//     }
// }

@media (hover: none) {
    // targets only devices that cannot hover -- touch devices like the *$%*ing iphone

    .slideup-card__screen {
        opacity: 1;
    }

    .slideup-card__content__title {
        top: 15%;
    }

    .slideup-card__content__wrapper {
        bottom: 5%;
    }
}
