@use '../abstracts/' as *;
body {
	/* Need to explicitly specify this because of the searchBox that slides in and out */
	/* Comment this out during development and debugging */
	overflow-x: hidden;
}
body {
	position: relative;
	font-family: var(--ff-serif);
	font-size: var(--fs-450);

	@include mqmax(medium) {
		font-size: var(--fs-500);
	}
}
body.lockScroll {
	height: 100dvh;
	overflow: hidden;
}

header {
	font-family: var(--ff-serif);
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-serif);
	font-weight: var(--fw-serif-medium);
	@include mqmax(small) {
		text-align: center;
	}
}

h1,
h2 {
	color: hsl(var(--clr-secondary-550));
}

h3,
h4 {
	color: hsl(var(--clr-neutral-850));
}

h1 {
	font-size: var(--fs-800);
	@include mqmax(medium) {
		font-size: var(--fs-850);
	}
}

h2 {
	font-size: var(--fs-700);
	@include mqmax(medium) {
		font-size: var(--fs-750);
	}
}

h3 {
	font-size: var(--fs-600);
	@include mqmax(medium) {
		font-size: var(--fs-650);
	}
}

h4 {
	font-size: var(--fs-500);
	@include mqmax(medium) {
		font-size: var(--fs-550);
	}
}

p {
	&.center {
		text-align: center;
	}
}