@use '../abstracts' as *;

:root {
	--ff-sans: #{$ff-sans};
	--ff-serif: #{$ff-serif};

	// --fw-serif-light: #{$fw-serif-light}; 
	--fw-serif-normal: #{$fw-serif-normal}; 
	--fw-serif-medium: #{$fw-serif-medium};
	--fw-sans-normal: #{$fw-sans-normal};
	--fw-sans-light: #{$fw-sans-light};
	--fw-bold: #{$fw-bold};
	--fw-bolder: #{$fw-bolder};
	--fw-light: #{$fw-light};

	--spacer: #{$spacer};
	--flow-spacer: #{$flow-spacer};
	--flow-spacer-top: #{$flow-spacer-top};
	--flow-spacer-bottom: #{$flow-spacer-bottom};
	--flow-spacer-nontitletext: #{$flow-spacer-nontitletext};
	--flow-spacer-h1: #{$flow-spacer-h1};
	--column-gap: #{$column-gap};
	--wide-column-gap: #{$wide-column-gap};

	--regular-width: #{$regular-width};
	--ultra-wide-width: #{$ultra-wide-width};
	--max-char-in-line: #{$max-char-in-line};
	--full-bleed-margin-reg: #{$full-bleed-margin-reg};
	--full-bleed-margin-ultra: #{$full-bleed-margin-ultra};

	--logo-height: #{$logo-height};
	--logo-height-mob: #{$logo-height-mob};
	--logo-height-sticking: #{$logo-height-sticking};

	--icon-height: #{$icon-height};
	--icon-height-sml: #{$icon-height-sml};
	--icon-height-vsml: #{$icon-height-vsml};

	--primary-header-topbot-padding: #{$primary-header-topbot-padding};

    --clr-dark-grey: hsl(0 0% 10%);
    --clr-grey: hsl(0 0% 50%);
    --clr-light-grey: hsl(0 0% 90%);

	@each $colour, $shade in $colours {
		@each $property, $value in $shade {
			--clr-#{$colour}-#{$property}: #{$value};
		}
	}

	@each $screen-size, $property in $font-sizes {
		@if $screen-size ==small {
			@each $prop, $value in $property {
				--fs-#{$prop}: #{$value};
			}
		} @else {
			@include mq($screen-size) {
				@each $prop, $value in $property {
					--fs-#{$prop}: #{$value};
				}
			}
		}
	}

	@each $space, $value in $letter-spacing {
		--ls-#{$space}: #{$value};
	}
}
