<div class="cta-desk"
       onclick="location.href='/virtual-steps';">
    {% image "https://res.cloudinary.com/nrityagram/image/upload/v1748004445/virtual-steps-cta_yp7fcg.png",
    "Virtual Steps CTA picture",
    ["200"] %}
    <div class="cta-textbox">
        <div class="cta-line-lrg">Virtual Steps</div>
        <div class="cta-line-sml">New Batch Starts on 5 July 2025</div>
        <div class="cta-line-sml">Registration Closed</div>
    </div>
</div>