---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
slider: true
parentMenuItem: "School"
title: "Dance Professionals"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1580617696/dance-professionals-desk_q1mnsc.jpg", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1589039867/ipad/dance-professionals_kximrn.jpg", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1580617695/mobile/dance-professionals-mob_jwkl0j.jpg"}, 
      "Peepul tree in Nrityagram", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Karthik Venkatraman" 
    data-image-credit-tab="Karthik Venkatraman" 
    data-image-credit-mob="Karthik Venkatraman"
    ></div>
  <div class="banner-title">
        Dance<br />Professionals
  </div>
</div>

<div class="container">
  <div class="flow flow-flushbottom">
    <div class="owl-carousel ultra-wide owl-theme">
      <div class="item rounded">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg",
        "Dance Professionals",
        ["auto", "425", "768", "1600"] %}
        <div class="photo-credit">Photo : Courtesy Nrityagram</div>
      </div>
      <div class="item rounded">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg",
        "Dance Professionals",
        ["auto", "425", "768", "1600"] %}
        <div class="photo-credit">Photo : Courtesy Nrityagram</div>
      </div>
      <div class="item rounded">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg",
        "Dance Professionals",
        ["auto", "425", "768", "1600"] %}
        <div class="photo-credit">Photo : Courtesy Nrityagram</div>
      </div>
      <div class="item rounded">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg",
        "Dance Professionals",
        ["auto", "425", "768", "1600"] %}
        <div class="photo-credit">Photo : Courtesy Nrityagram</div>
      </div>
      <div class="item rounded">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg",
        "Dance Professionals",
        ["auto", "425", "768", "1600"] %}
        <div class="photo-credit">Photo : Courtesy Nrityagram</div>
      </div>
      <div class="item rounded">
        {% image "https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg",
        "Dance Professionals",
        ["auto", "425", "768", "1600"] %}
        <div class="photo-credit">Photo : Courtesy Nrityagram</div>
      </div>
    </div>
  </div>
  <div class="wrapper flow flow-flushtop">
    <p>
			We aim to prepare dancers for careers that combine performance with teaching, community outreach, and leadership.
			To enrich their practice, dancers are taught yoga, meditation, martial arts as well as Sanskrit and literature.
		</p>
    <p>
			Choreographers, movement-specialists, sculptors, painters, writers, musicians and theatre practitioners from all
			over the world frequently visit Nrityagram. They perform and conduct workshops and seminars in their area of
			practice, to further deepen the breadth of our dancer’s knowledge.
		</p>
    <p>
			The daily schedule of the Nrityagram dancers includes a unique, scientific body-conditioning and training
			programme that is sourced from <em>Yoga,</em>
      <em>Natyashastra,</em>
      <em>Kalaripayattu,</em> Western fitness methods and Odissi body-conditioning exercises. This makes the practice of dance injury-proof and increases the performance lifespan of a dancer. This technique is now sought-after by accomplished dancers and performers from different disciplines and we frequently teach and advise performers how to benefit from our body-conditioning and training programme.
		</p>
    <div>
      <h3>Courses for dance professionals include</h3>
      <ul class="basic no-bullets">
        <li>
          <b>Odissi 101</b>: Residential; Full-time; 1year</li>
        <li>
          <b>Basic Training</b>: Residential; Full-time; 3 years</li>
        <li>
          <b>Advanced Training</b>: Residential; Full-time; 3 years</li>
        <li>
          <b>Day Scholar Training</b>: Residential; 8 hours a day x 4 days a week</li>
      </ul>
    </div>
    <p>Write to us for details <a href="mailto:learn@nrityagram.org" class="bodylink">learn@nrityagram.org</a>
    </p>
  </div>
</div>