---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
parentMenuItem: "Support"
title: "Donate"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1588613881/donate_iwpz5s.jpg", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1589077339/ipad/Donate_y5gy2s.jpg", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1588613847/mobile/donate-mob_mezskh.jpg"}, 
      "Make a Donation", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Guillermo Consejo" 
    data-image-credit-tab="Guillermo Consejo" 
    data-image-credit-mob="Guillermo Consejo"
    ></div>
  <div class="banner-title">
        Donate
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <p>
			Your support is vital to Nrityagram.
		</p>
    <p>
        A Donation of any amount - even ₹500 or $10 - will make it possible for us to strengthen our institution, so that our artists can continue creation, performance and engagement programmes, and teachers can continue to offer dance outreach activities for children who are poorly served in this area.
    </p>
    <p>Thank you for making a Donation to Nrityagram today!</p>
    <br />
    <div class="button red-plastic center">
      <div class="glare"></div>
        Make a Donation
    </div>
    <br />
    <p class="infotext center">
      We are happy to work with you on additional ideas that appeal to your funding interests and giving priorities.
      <br />
      Write to us at <a href="mailto:support@nrityagram.org" target="_blank" class="bodylink">support@nrityagram.org</a>
    </p>
  </div>
</div>