---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
parentMenuItem: "Support"
title: "Support the Corpus Fund"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1588620637/Support-the-corpus-fund_quhmco.jpg", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1589077309/ipad/support-the-corpus-fund_nl7bjn.jpg", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1581320061/mobile/Support-the-corpus-fund_iyyuov.jpg"}, 
      "Make a Donation", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Courtesy Serendipity Arts Festival" 
    data-image-credit-tab="Courtesy Serendipity Arts Festival" 
    data-image-credit-mob="Courtesy Serendipity Arts Festival"
    ></div>
  <div class="banner-title">
        Support the<br />Corpus Fund
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <p>
			Permanence. This one word sums up the advantage of making a Donation to the Nrityagram Corpus Fund - for you as a
			donor and for our community.
		</p>
    <p>
			By supporting and strengthening our Corpus Fund you give a Gift with both immediate and long-term benefits. The
			Corpus Fund will permanently support the existence and sustenance of Nrityagram, so we can continue to work as one
			of the foremost dance schools and companies of India.
		</p>
    <br />
    <div class="button red-plastic center">
      <div class="glare"></div>
        Give to Our Corpus Fund
    </div>
    <br />
    <p class="infotext center">
      We are happy to work with you on additional ideas that appeal to your funding interests and giving priorities.
      <br />
      Write to us at <a href="mailto:support@nrityagram.org" target="_blank" class="bodylink">support@nrityagram.org</a>
    </p>
  </div>
</div>