<div class="cta-mobile"
             onclick="location.href='/virtual-steps';">
    <div class="cta-line-lrg">
        <span class="whitetext">Virtual Steps</span>
    </div>
    <div class="cta-line-sml">New Batch starts on 5 July 2025 • Registration Closed</div>
    <div class="cta-arrow"><img src="/img/cta-arrow-circle-right.svg" alt=""></div>
</div>