---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
title: "Dance Residency"
scrollToTop: true
description: "Nrityagram's Dance Residency is a fully funded month-long residency for Indian classical dancers at India's only gurukula where dance is a way of life."
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/q_auto/f_auto/v1595320104/space_desk_pf6xpx.jpg"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures {
      "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1595320104/space_desk_pf6xpx.jpg",
      "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1589047081/ipad/space_yvvwsu.jpg",
      "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1576171495/mobile/space_eyaqcj.jpg"
    },
    "Three Women statue at Nrityagram", {
      "mob": ["425"],
      "tab": ["768"],
      "desk": ["1600"]
    }, {
      "desk": "65em",
      "tab": "50em",
      "mob": "35em"
    },
    "eager",
    "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Courtesy Nrityagram" 
    data-image-credit-tab="Courtesy Nrityagram" 
    data-image-credit-mob="Courtesy Nrityagram"
    ></div>
  <div class="banner-title">
        Dance Residency
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <p>
			The Dance Residency at Nrityagram is a fully funded month-long programme specifically designed for Indian classical Dancers. Nestled within an intentional dance village, this process-oriented residency offers a rare sanctuary for independent research, rehearsal, and reflective practice away from daily performance pressures. Participants receive complimentary accommodation at Kula, all meals, and studio access, fostering growth within a nurturing artistic community. Designed to deepen individual practice and innovate within tradition, the programme will host individual dancers, duos, and groups in small, rolling cohorts.
    </p>
    <p>
      The inaugural season of the residency will take place from <b>June 1, 2026</b> to <b>June 30, 2026</b>
      <br />
      Application Deadline: <b>May 10, 2026</b>
    </p>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow flow-extra">
    <h1 class="center">Project and Concept</h1>
    <p>
        The programme aims to remove logistical and financial barriers to allow for deep engagement with the craft. 
      </p>
    <h3 class="center">Key Facilities and Benefits</h3>
    <div class="image-plus top-flow">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1719899818/Kula-masthead-desk_ktpdi9.png",
      "Kula Residence for Artists at Nrityagram",
      ["560", "768", "1046"] %}
      <div class="credit" data-image-credit="Rupert Lorhaldar" ></div>
    </div>
    <p>
      Nrtityagram offers 4 weeks of housing at <a href="/kula-artistes-residence" class="bodylink">Kula: Residence for Artists</a> which features eight twin-bedroom units with attached bathrooms and a common living room and kitchenette. All meals are provided throughout the duration of the stay.
    </p>
    <p>
      Residents have access to professional dance studios, as well as additional indoor and outdoor creative spaces including the Amphitheatre, Kula, the Yoga Centre (which is open to the sky, so hours could be limited), and the Dining Hall during fixed hours. Residents will also receive Wi-Fi and basic administrative support. The programme is fully funded. Participants are responsible only for their travel to and from Nrityagram and any personal expenses incurred outside the provided amenities.
    </p>
    <h3 class="center">The Dance Commons Initiative</h3>
    <p>
      The residency is a core component of the broader <a href="/building-a-dance-community" class="bodylink">Dance Commons</a> initiative, which seeks to transform the often "lonely and anxious" journey of the individual dancer into a collective experience. Initiated by Nrityagram’s Artistic Director <a href="/surupa-sen" class="bodylink">Surupa Sen</a>, the Dance Commons serves as a space for young dancers to imagine collective futures and find kinship.
    </p>
    <p>
      Participants in the residency are encouraged to contribute to or create "Commons" infrastructure, which includes:
    </p>
    <ul class="extra-margin-top">
      <li>Developing dance appreciation and awareness to build new audiences.</li>
      <li>Creating shared resource pools for items like dance costumes and repair.</li>
      <li>Establishing new performance spaces in unconventional venues or private homes.</li>
      <li>Building shared teaching resources and rehearsal spaces.</li>
      <li>Facilitating the sharing of performance calls and professional opportunities.</li>
    </ul>
    <p>
      Ultimately, the residency serves as an investment in the future of Indian Classical dance by fostering a cohort of empowered artistes who remain rooted in tradition while remaining open to innovation.
    </p>
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <h1 class="center">Application</h1>
    <div class="image-plus top-flow">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1643006854/10_3space_e7wz3l.jpg",
      "Campus space at Nrityagram",
      ["560", "768", "1046"] %}
      <div class="credit" data-image-credit="Fall for Dance North" ></div>
    </div>
    <br />
    <ul class="extra-margin-top no-bullets">
      <li>
        <strong>Dance Residency at Nrityagram 2026</strong>
      </li>
      <li>Residency period: 4 weeks over Date to Date </li>
      <li>Application deadline: May 10, 2026</li>
      <li>Selection: June 15, 2026</li>
    </ul>

    <h3 class="center">Application Process</h3>
    <p>
			Applications are invited from Indian classical dancers with at least 6 years of experience in any dance form. 
		</p>
    <p>
			Applicants are selected based on a review that emphasises clarity of intent, a demonstrated commitment to Indian classical dance, and a readiness to engage in self-directed research or rehearsal. 
		</p>
    <p>
      Nrityagram offers the freedom to create in an intentional community where dance is integrated into daily life, the residency allows participants to grow artistically away from the pressures of performance.
    </p>
    <p>
      We are particularly interested in supporting artistes who have not had many opportunities to ...
    </p>
    <p>
      Applicants should be available for either 4 consecutive weeks or 2 blocks of 2 weeks during the residency period.
    </p>

  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="center">FAQ</h1>
    <div class="residency-faq">
      <details class="residency-faq__item">
        <summary class="residency-faq__question">
            How much dance experience do I need to have to qualify for this residency?
            <span class="residency-faq__chevron"></span>
        </summary>
        <div class="residency-faq__answer">You should have at least six years of Indian classical dance experience.</div>
      </details>
      <details class="residency-faq__item">
        <summary class="residency-faq__question">
            Is there an age limit?
            <span class="residency-faq__chevron"></span>
        </summary>
        <div class="residency-faq__answer">Dancers should be a minimum of 18 years old. There is no upper limit.</div>
      </details>
      <details class="residency-faq__item">
        <summary class="residency-faq__question">
            What costs are covered by Nrityagram?
            <span class="residency-faq__chevron"></span>
        </summary>
        <div class="residency-faq__answer">Nrityagram covers room and board. Selected residents are responsible for covering their travel to and from Nrityagram.</div>
      </details>
      <details class="residency-faq__item">
        <summary class="residency-faq__question">
            Is it possible to apply as a duo or collective?
            <span class="residency-faq__chevron"></span>
        </summary>
        <div class="residency-faq__answer">Yes.</div>
      </details>
      <details class="residency-faq__item">
        <summary class="residency-faq__question">
            Can I bring a partner / child?
            <span class="residency-faq__chevron"></span>
        </summary>
        <div class="residency-faq__answer">Yes, but at your/their own cost. Extra persons will be charged for meals and accommodation.</div>
      </details>
      <details class="residency-faq__item">
        <summary class="residency-faq__question">
            Do I have to spend 4 consecutive weeks in the residency?
            <span class="residency-faq__chevron"></span>
        </summary>
        <div class="residency-faq__answer">It is preferred to do the 4 weeks as a single block, but it can be split into two 2-week blocks if required.</div>
      </details>
      <details class="residency-faq__item">
        <summary class="residency-faq__question">
            Are the rooms shared?
            <span class="residency-faq__chevron"></span>
        </summary>
        <div class="residency-faq__answer">We have 8 rooms with two twin beds. You can choose to share your room or be a sole occupant.</div>
      </details>
      <details class="residency-faq__item">
        <summary class="residency-faq__question">
            Are there other spaces available other than the studio?
            <span class="residency-faq__chevron"></span>
        </summary>
        <div class="residency-faq__answer">Yes. You can also use the Amphitheatre, Kula (the living room is designed like a studio/stage and has been used for work-in-progress showings and small performances), the Yoga Centre (open to the sky, so hours may be limited), and the Dining Hall during certain hours.</div>
      </details>
      <details class="residency-faq__item">
        <summary class="residency-faq__question">
            Is it possible to apply for the residency if I am a student?
            <span class="residency-faq__chevron"></span>
        </summary>
        <div class="residency-faq__answer">Yes.</div>
      </details>
    </div>

  </div>
</div>

<div class="container">
  <div class="wrapper flow">
    <p>
      Applications are open to Indian classical dancers with at least 6 years of experience in any dance form. We welcome applications from individuals, duos, and groups.
    </p>
    <p>
      Applicants are selected based on clarity of intent, a demonstrated commitment to Indian classical dance, and a readiness to engage in self-directed research or rehearsal.  
    </p>
    <p>
      The application deadline is <b>May 10, 2026</b>. Selected residents will be notified by <b>June 15, 2026</b>.
    </p>
    <br />
    <div class="button red-plastic center" onclick="location.href='/dance-residency-application';">
      <div class="glare"></div>
        Apply for the Dance Residency
    </div>
  </div>
</div>