---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
parentMenuItem: "Support"
title: "Make a Donation"
danamojo: true
danaReturnURL: "/donate"
danaReturnLinkName: "Donate"
---
<div class="container">
  <div class="wrapper flow">
    
    <!-- BEGIN danamojo code -->

    <div id="dmScriptContainer" style="display: none;">
      <a href="#">Donate Now</a>
    </div>
    <div id="ngoContentContainer"
          iNGOId="885"
          oDisplay="product"
          oDisplayTab="once,monthly"
          iProductId="4975"
          oLayout="GRID"
        >
      <center>
        <img alt="please wait..." src="https://danamojo.org/dm/css/images/loading.gif"
            </center>
        </div>

        <!-- END danamojo code -->
    </div>
</div>
