---
layout: layouts/page.njk
eleventyNavigation:
  key: page
  order: 1
tags: page
date: Last Modified
title: "Virtual Steps : Nrityagram.Online"
scrollToTop: true
vsRegistrationOn: false
description: "With Virtual Steps, you can take classes from anywhere in the world, via our Online Dance School!"
OGImage: "https://res.cloudinary.com/nrityagram/image/upload/v1749799897/virtual-steps-og_effoyk.png"
---
<div id="banner-container">
  <div class="banner-image">
    {% pictures 
      {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1747992148/virtual-steps-desk_ot0jat.png", 
      "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1747992147/virtual-steps-tablet_rigscd.png", 
      "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1747992147/virtual-steps-mobile_sqtyb3.png"}, 
      "Virtual Steps", 
      {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
      "eager", "high" %}
  </div>
  <div class="banner-image-credit"
    data-image-credit-desk="Anoushka Rahman" 
    data-image-credit-tab="Pavithra Reddy" 
    data-image-credit-mob="Pavithra Reddy"
    ></div>
  <div class="banner-title">
        Virtual Steps
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <p>Welcome to Virtual Steps with Nrityagram<span class="redtext">.Online</span>!</p>
    <p>
      With Virtual Steps, you can take classes from anywhere in the world, via our Online Dance School. Whether you’re a beginner, supplementing in-person classes with at-home training or simply prefer to take class in the comfort of your own space, we’ve brought the Nrityagram dance experience to you. 
    </p>
    <p>Join our Live and Interactive classes led by our talented dancers.</p>
  </div>
</div>

<div class="container accent-bg">
  <div class="wrapper flow">
    <ul class="extra-margin-top no-bullets">
      <li>
        <ul class="no-bullets">
          <li>
            <b>Beginner Level</b>
          </li>
          <li>
            Saturdays 5PM - 6PM IST (Indian Standard Time)
          </li>
          <li>
            <b>Age</b> 12 Years and above
          </li>
        </ul>
        <br />
        <ul class="no-bullets">
          <li>
            <b>Intermediate Level</b>
          </li>
          <li>
            Saturdays 6:15PM - 7:45PM IST (Indian Standard Time)
          </li>
          <li>
            <b>Age</b> 15 Years and above
          </li>
        </ul>
      </li>
    </ul>

    <ul class="extra-margin-top no-bullets">
      <li>
        Registrations are closed for both batches. Look out for an announcement when we begin the next session!
      </li>
      <li>
        Questions? Write to us <a href="mailto:pavithra@nrityagram.org" class="bodylink">pavithra@nrityagram.org</a>
      </li>
    </ul>
  </div>
</div>

<script>
  (function () {
    var d = document;
    var x = !d.getElementById('razorpay-embed-btn-js')
    if (x) {
      var s = d.createElement('script');
      s.defer = !0;
      s.id = 'razorpay-embed-btn-js';
      s.src = 'https://cdn.razorpay.com/static/embed_btn/bundle.js';
      d
        .body
        .appendChild(s);
    } else {
      var rzp = window['__rzp__'];
      rzp && rzp.init && rzp.init()
    }
  })();
</script>