<div class="cta-desk"
       onclick="location.href='/summer-fun-for-kids';">
    <img src="https://res.cloudinary.com/nrityagram/image/upload/v1739448387/summer-fun-cta_v2i7bb.png"
         alt="Summer Fun for Kids 2026 picture"
         width="200"
         loading="lazy">
    <div class="cta-textbox">
        <div class="cta-line-lrg">Summer Fun for Kids</div>
        <div class="cta-line-sml">13 - 18 April 2026</div>
        <div class="cta-line-sml">Registrations Open</div>
    </div>
</div>