<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title or metadata.title or "11ty Vodkarani Starter" }}</title>
		<meta name="description" content="{{ description or metadata.description }}" />
		<meta name="generator" content="{{ eleventy.generator }}" />

		<!-- openprops -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/open-props" /> -->
		<!-- Not using open props normalize. Using Andy Bell's css reset -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/open-props/fonts.min.css" /> -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/open-props/sizes.min.css" /> -->

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Lato:wght@300;400&display=swap" rel="stylesheet"> -->

		{% if slider %}
			<link rel="preload" href="{{ '/css/owl.carousel.min.css' | url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
			<link rel="preload" href="{{ '/css/owl.theme.default.min.css' | url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
		{% endif %}
		{% if youtube %}
			<link rel="stylesheet" href="{{ '/css/lite-yt-embed.css' | url }}" />
		{% endif %}

		<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	</head>
	<body>
		<main>
			<header class="primary-header">
				<div class="wrapper headwrap">
					<div class="primary-header__inner">
						<span class="logo">
							<a href="/">
								<img src="https://res.cloudinary.com/nrityagram/image/upload/v1694865121/ng-logo-ng-red-lite-thick-04_y2yjnu.svg" alt="Nrityagram Logo">
							</a>
						</span>
						{% include './navigation.njk' %}
						{# TODO: Debug the position of search icon on iphone simulator #}
						{# {% include './search.njk' %} #}
						{% include './mobileMenuToggle.njk' %}
					</div>
				</div>
			</header>
			{{ content | safe }}
			<footer>
				<div class="tagline">
					Nrityagram is a one-of-a-kind community of artistes, where dance is a way of life
				</div>
				<div class="columnstack bottom-border">
					<span>
						<a href="mailto:info@nrityagram.org">
							<img src="/img/email-white.svg" class="icon sml-vsml" alt="email icon">
							info@nrityagram.org
						</a>
					</span>
					<span>
						<a href="tel:+918028466312">
							<img src="/img/phone-white.svg" class="icon sml-vsml" alt="phone icon">
							+91 80 28466312 / 3 / 4
						</a>
					</span>
				</div>
				<div class="rowstack">
					<div>
						Nrityagram, Hessaraghatta Post, Kodihalli Village, Bangalore 560088 India
					</div>
					<div>
						<b>VISIT</b>: 10am - 2pm | Friday, Saturday and Sunday
					</div>
					<div>
						<b>CLOSED</b>: Mondays, National, State and other School Holidays | Call to Confirm
					</div>
				</div>
				<div class="rowstack close">
					<div>
						<a href="/privacy">Privacy Policy</a> | <a href="/termsconditions">Terms & Conditions</a> | <a href="/sitecredits">Site Credits</a>
					</div>
					<div>
						© {% year %} Nrityagram | All Rights Reserved
					</div>
				</div>
				<div class="rowstack smalltext">
					Nrityagram is a Project of Odissi Dance Centre, a Public Charitable Trust  |  Registration # E 7242 MUMBAI dated 23/07/1979
				</div>
				<sidebar>
					<div class="hovertext" data-hovertext="+91 80 28466312 / 3 / 4">
						<a href="tel:+918028466312">
							<img src="/img/phone-grey.svg" class="icon sml" alt="Phone Icon">
						</a>
					</div>
					<div class="hovertext" data-hovertext="info@nrityagram.org">
						<a href="mailto:info@nrityagram.org">
							<img src="/img/email-grey.svg" class="icon sml" alt="Email Icon">
						</a>
					</div>
					<a href="https://www.facebook.com/nrityagram">
						<img src="/img/fb-grey.svg" class="icon sml" alt="Facebook Icon">
					</a>
					<a href="https://www.instagram.com/nrityagram/">
						<img src="/img/insta-grey.svg" class="icon sml" alt="Instagram Icon">
					</a>
					<a href="https://www.youtube.com/@Nrityagram">
						<img src="/img/youtube-grey.svg" class="icon sml" alt="Youtube Icon">
					</a>
				</sidebar>
			</footer>

		</main>
		<script src="{{ '/utils/primary-header.js' | url }}"></script>
		<script src="{{ '/utils/fadein-observer.js' | url }}"></script>
		<script src="{{ '/utils/fadeinplace-observer.js' | url }}"></script>
		<script src="{{ '/utils/zoomin-observer.js' | url }}"></script>
		{% if slider %}
			<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
			<script src="{{ '/utils/owl.carousel.min.js' | url }}"></script>
			<script src="{{ '/utils/owl-custom.js' | url }}"></script>
		{% endif %}
		{% if youtube %}
			<script src="{{ '/utils/lite-yt-embed.js' | url }}"></script>
		{% endif %}
		{% if marquee %}
			<script src="{{ '/utils/marquee.js' | url }}"></script>
		{% endif %}
		<!-- <script src="{{ '/utils/search.js' | url }}"></script> -->
	</body>
</html>